::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  /* background: #1e1e24; */
  /* same as theme paper */
  /* background: rgba(#1E1E1E, 0.5); */
  /* background: #3B3B3B; */
  background: #262626;
}

::-webkit-scrollbar-thumb {
  /* background: #3994AD; */
  background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-corner {
  background:rgba(0, 0, 0, 0.2);
}


.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-main-axis {
  display: flex;
  justify-content: center;
}

.centered-cross-axis {
  display: flex;
  align-items: center;
}

.m-auto {
  margin: auto !important;
}

.m-auto-x {
  margin-left: auto !important;
  margin-right: auto !important;
}

.m-auto-y {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  overflow-y: auto;
  max-width: 80vw;
  max-height: 100vh;
  outline: none;
}

.dialog-content {
  max-width: 80vw;
}

.btn-link:hover {
  text-decoration: none !important;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.d-flex {
  display: flex;
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.full {
  width: 100%;
  height: 100%;
}

.text-transform-none {
  text-transform: none !important;
}

/* table rows auto expand to fill, causing mui tabs to cause overflow with scrollbar instead of overflowing internally */
/* putting a non % width (0px, 1px, etc...) on the row with tabs fixes this... */
.tabs-row {
  max-width: 1px;
  padding: 0 !important;
}
.tabs-cell {
  max-width: 1px;
  padding: 0 !important;
}

.nowrap {
  overflow: hidden;
  white-space: nowrap;
}

.visibility-hidden {
  visibility: hidden;
}

.visibility-hidden-y {
  visibility: hidden;
  height: 0;
}

.visibility-hidden-x {
  visibility: hidden;
  width: 0;
}


.visibility-inherit {
  visibility: inherit;
}


.capitalise {
  text-transform: capitalize;
}