::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  /* background: #1e1e24; */
  /* same as theme paper */
  /* background: rgba(#1E1E1E, 0.5); */
  /* background: #3B3B3B; */
  background: #262626;
}

::-webkit-scrollbar-thumb {
  /* background: #3994AD; */
  background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-corner {
  background:rgba(0, 0, 0, 0.2);
}


.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-main-axis {
  display: flex;
  justify-content: center;
}

.centered-cross-axis {
  display: flex;
  align-items: center;
}

.m-auto {
  margin: auto !important;
}

.m-auto-x {
  margin-left: auto !important;
  margin-right: auto !important;
}

.m-auto-y {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  overflow-y: auto;
  max-width: 80vw;
  max-height: 100vh;
  outline: none;
}

.dialog-content {
  max-width: 80vw;
}

.btn-link:hover {
  text-decoration: none !important;
}

.col { flex-direction: column; }
.row { flex-direction: row; }
.d-flex { display: flex; }
.jfc { justify-content: center; }
.jfs { justify-content: flex-start; }
.jse { justify-content: flex-end; }
.aic { align-items: center; }
.ais { align-items: flex-start; }
.aie { align-items: flex-end; }

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.full {
  width: 100%;
  height: 100%;
}

.text-transform-none {
  text-transform: none !important;
}

/* table rows auto expand to fill, causing mui tabs to cause overflow with scrollbar instead of overflowing internally */
/* putting a non % width (0px, 1px, etc...) on the row with tabs fixes this... */
.tabs-row {
  max-width: 1px;
  padding: 0 !important;
}
.tabs-cell {
  max-width: 1px;
  padding: 0 !important;
}

.nowrap {
  overflow: hidden;
  white-space: nowrap;
}

.visibility-hidden {
  visibility: hidden;
}

.visibility-hidden-y {
  visibility: hidden;
  height: 0;
}

.visibility-hidden-x {
  visibility: hidden;
  width: 0;
}


.visibility-inherit {
  visibility: inherit;
}


.capitalise {
  text-transform: capitalize;
}























































/* monaki-dimmed: https://github.com/microsoft/vscode/blob/master/extensions/theme-monokai-dimmed/themes/dimmed-monokai-color-theme.json */
/* code.hljs { color: #c5c8c6; }
.hljs-function { color: #CE6700; }
.hljs-attr { color: #9872A2; }
.hljs-string { color: #9AA83A; }
.hljs-title { color: #AE81FF; }
.hljs-attribute { color: #9872A2; }
.hljs-keyword { color: #6089B4; }
.hljs-number { color: #6089B4; }
.hljs-literal { color: #6089B4; }
.hljs-built_in { color: #408080; } */



/*
Name: Duotone Dark
Author: Simurai, adapted from DuoTone themes for Atom (http://simurai.com/projects/2016/01/01/duotone-themes)
Conversion: Bram de Haan (http://atelierbram.github.io/Base2Tone-prism/output/prism/prism-base2tone-evening-dark.css)
Generated with Base16 Builder (https://github.com/base16-builder/base16-builder)
*/















/* code[class*="language-"],
pre[class*="language-"] {
	font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
	font-size: 14px;
	line-height: 1.375;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	background: #2a2734;
	color: #9a86fd;
}

pre > code[class*="language-"] {
	font-size: 1em;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #6a51e6;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #6a51e6;
} */

/* Code blocks */
/* pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
} */

/* Inline code */
/* :not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #6c6783;
}

.token.punctuation {
	color: #6c6783;
}

.token.namespace {
	opacity: .7;
}

.token.tag,
.token.operator,
.token.number {
	color: #e09142;
}

.token.property,
.token.function {
	color: #9a86fd;
}

.token.tag-id,
.token.selector,
.token.atrule-id {
	color: #eeebff;
}

code.language-javascript,
.token.attr-name {
	color: #c4b9fe;
}

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
	color: #ffcc99;
}

.token.placeholder,
.token.variable {
	color: #ffcc99;
}

.token.deleted {
	text-decoration: line-through;
}

.token.inserted {
	border-bottom: 1px dotted #eeebff;
	text-decoration: none;
}

.token.italic {
	font-style: italic;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.important {
	color: #c4b9fe;
}

.token.entity {
	cursor: help;
}

pre > code.highlight {
	outline: .4em solid #8a75f5;
	outline-offset: .4em;
} */

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
/* .line-numbers .line-numbers-rows {
	border-right-color: #2c2937;
}

.line-numbers-rows > span:before {
	color: #3c3949;
} */

/* overrides color-values for the Line Highlight plugin
* http://prismjs.com/plugins/line-highlight/
*/
/* .line-highlight {
	background: rgba(224, 145, 66, 0.2);
	background: -webkit-linear-gradient(left, rgba(224, 145, 66, 0.2) 70%, rgba(224, 145, 66, 0));
	background: linear-gradient(to right, rgba(224, 145, 66, 0.2) 70%, rgba(224, 145, 66, 0));
} */