::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  /* background: #1e1e24; */
  /* same as theme paper */
  /* background: rgba(#1E1E1E, 0.5); */
  /* background: #3B3B3B; */
  background: #262626;
}

::-webkit-scrollbar-thumb {
  /* background: #3994AD; */
  background: rgba(255, 255, 255, 0.1);
}


.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  overflow-y: auto;
  max-width: 80vw;
  max-height: 100vh;
  outline: none;
}

.dialog-content {
  max-width: 80vw;
}

.btn-link:hover {
  text-decoration: none !important;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.d-flex {
  display: flex;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.full {
  width: 100%;
  height: 100%;
}

.text-transform-none {
  text-transform: none !important;
}