MASTER=true
HOST=nickkelly.dev
ADMIN_INITIAL_PSW=abc123
NODE_ENV=production
PORT=4000

PASSWORD_RESET_URI=https://nickkelly.dev/password-reset
WELCOME_URI=https://nickkelly.dev/welcome
VERIFY_EMAIL_URI=https://nickkelly.dev/verify-email
VERIFY_EMAIL_CHANGE_URI=https://nickkelly.dev/verify-email-change

REDIS_PSW=abc123
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

PG_USER=nk
PG_PSW=abc123
PG_DB=nk
PG_PORT=5432
PG_HOST=127.0.0.1

# DEBUG=*
PSW_SALT_ROUNDS=10
LOG_DIR=./storage/logs
LOG_MAX_SIZE=20m
LOG_ROTATION_MAX_AGE=7d
JWT_SECRET=sngjksngksopk03mgo3mbo

# 60 sec
ACCESS_TOKEN_EXPIRES_IN_MS=60000

# # 90 sec
REFRESH_TOKEN_EXPIRES_IN_MS=90000

# # 2 min
# REFRESH_TOKEN_EXPIRES_IN_MS=120000
# 5 min
REFRESH_TOKEN_EXPIRES_IN_MS=120000
# # 5 min
# REFRESH_TOKEN_EXPIRES_IN_MS=300000
# # 2 min
# REFRESH_TOKEN_EXPIRES_IN_MS=120000
# # 50 sec
# REFRESH_TOKEN_EXPIRES_IN_MS=50000

DELAY=50

# secret for encryption
SECRET=gdjnfgjgtrgjrngjkrtgfjrenrjenfjkrnfjhrfnjherfnbejrbfhjerf
